@model League.Models.Team

@{
    ViewBag.Title = "Details";
}

<div class="section-title-team">
    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    <div class="col-md-3">
                        @{
                            var imgSrcP = "";
                            var imgSrcL = "";
                            if (Model.Photo != null)
                            {
                                var base64P = Convert.ToBase64String(Model.Photo);
                                imgSrcP = String.Format("data:" + Model.PhotoMIME + ";base64,{0}", base64P);
                            }
                            if (Model.Logo != null)
                            {
                                var base64L = Convert.ToBase64String(Model.Logo);
                                imgSrcL = String.Format("data:" + Model.PhotoMIME + ";base64,{0}", base64L);
                            }
                        }
                        <img src="@imgSrcL" alt="location-team">
                    </div>
                    <div class="col-md-9">
                        <h1>@Model.Name</h1>
                        <ul class="general-info">
                            <li><h6><strong>Creation:</strong> @Model.CreateDate.ToLongDateString()</h6></li>
                            <li><h6><strong>Entraineurs:</strong> @foreach (var i in Model.Trainers){@(i.Name + ", ")}</h6></li>
                            <li><h6><strong>Managers:</strong>  @foreach (var j in Model.Managers){@j.Name}</h6></li>
                            <li><h6><strong>Total titre:</strong> 0</h6></li>
                            <li><h6><strong>Ville:</strong> @Model.City</h6></li>
                            <li>
                                <h6>
                                    <i class="fa fa-link" aria-hidden="true"></i>
                                    <a href="" target="_blank">www.site.com</a>
                                </h6>
                            </li>
                        </ul>
                        <ul class="social-teams">
                            <li>
                                <div>
                                    <a href="#" class="facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#" class="twitter-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <a href="#" class="youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image-team" style="background:url(@imgSrcP);"></div>
</div>


<section class="content-info">

    <div class="single-team-tabs">
        <div class="container">
            <div class="row">

                <div class="col-xl-12 col-md-12">

                    <ul class="nav nav-tabs" id="myTab">
                        <li class="active"><a href="#overview" data-toggle="tab">Overview</a></li>
                        <li><a href="#squad" data-toggle="tab">Équipe</a></li>
                        <li><a href="#fixtures" data-toggle="tab">Programmes</a></li>
                        <li><a href="#results" data-toggle="tab">Résultats</a></li>
                        <li><a href="#stats" data-toggle="tab">Statistiques</a></li>
                    </ul>

                </div>
                <div class="col-lg-9 padding-top-mini">

                    <div class="tab-content">

                        <div class="tab-pane active" id="overview">
                            <div class="panel-box padding-b">
                                <div class="titles">
                                    <h4>Aben FC national football team</h4>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-xl-4">
                                        <img src="img/clubs-teams/single-team.jpg" alt="">
                                    </div>
                                    <div class="col-lg-12 col-xl-8">
                                        <p>The Aben FC national football team (Spanish: Selección de fútbol de Aben FC) represents Aben FC in international football competitions and is overseen by the Aben FCn Football Federation. It is a member of the CONMEBOL and is currently ranked thirteenth in the FIFA World Rankings.[3] The team are nicknamed Los Cafeteros due to the coffee production in their country.</p>
                                        <p>Since the mid-1980s, the national team has been a symbol fighting the country's negative reputation. This has made the sport popular and made the national team a sign of nationalism, pride and passion for many Aben FCns worldwide.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="clear-title">Dernières nouvelles du club</h3>
                                </div>

                                <div class="col-lg-6 col-xl-4">

                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><a href="#">World football's dates.</a></h4>
                                        </div>
                                        <a href="#"><img src="img/blog/1.jpg" alt=""></a>
                                        <div class="row">
                                            <div class="info-panel">
                                                <p>Fans from all around the world can apply for 2018 FO6 Immature League tickets as the first window of sales.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-lg-6 col-xl-4">

                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><a href="#">Mbappe’s year to remember</a></h4>
                                        </div>
                                        <a href="#"><img src="img/blog/2.jpg" alt=""></a>
                                        <div class="row">
                                            <div class="info-panel">
                                                <p>Tickets may be purchased online by using Visa payment cards or Visa Checkout. Visa is the official.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="col-lg-6 col-xl-4">

                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><a href="#">Makèpè FC are one family</a></h4>
                                        </div>
                                        <a href="#"><img src="img/blog/3.jpg" alt=""></a>
                                        <div class="row">
                                            <div class="info-panel">
                                                <p>Successful applicants who have applied for supporter tickets and conditional supporter tickets will.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>


                            <div class="row no-line-height">
                                <div class="col-md-12">
                                    <h3 class="clear-title">Dernières vidéos du club</h3>
                                </div>

                                <div class="col-lg-6 col-xl-4">

                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><a href="#">Eliminatory to the world.</a></h4>
                                        </div>
                                        <iframe class="video" src="https://www.youtube.com/embed/Ln8rXkeeyP0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                    </div>

                                </div>


                                <div class="col-lg-6 col-xl-4">

                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><a href="#">Aben FC classification</a></h4>
                                        </div>
                                        <iframe class="video" src="https://www.youtube.com/embed/Z5cackyUfgk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                    </div>

                                </div>


                                <div class="col-lg-6 col-xl-4">

                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><a href="#">World Cup goal</a></h4>
                                        </div>
                                        <iframe class="video" src="https://www.youtube.com/embed/hW3hnUoUS0k" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                                    </div>

                                </div>

                            </div>


                            <div class="row no-line-height">
                                <div class="col-md-12">
                                    <h3 class="clear-title">Sponsors du Club</h3>
                                </div>
                            </div>

                            <ul class="sponsors-carousel">
                                <li><a href="#"><img src="img/sponsors/1.png" alt=""></a></li>
                                <li><a href="#"><img src="img/sponsors/2.png" alt=""></a></li>
                                <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
                                <li><a href="#"><img src="img/sponsors/4.png" alt=""></a></li>
                                <li><a href="#"><img src="img/sponsors/5.png" alt=""></a></li>
                                <li><a href="#"><img src="img/sponsors/3.png" alt=""></a></li>
                            </ul>
                        </div>


                        <div class="tab-pane" id="squad">
                            <div class="row">
                                @foreach (var item in Model.Players)
                                {
                                    <div class="col-xl-3 col-lg-4 col-md-6 forward">
                                        <div class="item-player">
                                            <div class="head-player">
                                                @{
                                                    var imgSrcP2 = "";
                                                    var imgSrcL2 = "";
                                                    if (item.Photo != null)
                                                    {
                                                        var base64P = Convert.ToBase64String(item.Photo);
                                                        imgSrcP2 = String.Format("data:" + item.PhotoMIME + ";base64,{0}", base64P);
                                                    }
                                                    if (item.Team.Logo != null)
                                                    {
                                                        var base64L = Convert.ToBase64String(item.Team.Logo);
                                                        imgSrcL2 = String.Format("data:" + item.Team.PhotoMIME + ";base64,{0}", base64L);
                                                    }
                                                }
                                                <img src="@imgSrcP2" alt="location-team">
                                                <div class="overlay"><a href="single-player.html">+</a></div>
                                            </div>
                                            <div class="info-player">
                                                <span class="number-player">
                                                    @item.Dorsa
                                                </span>
                                                <h4>
                                                    @item.Name
                                                    <span>@item.Post</span>
                                                </h4>
                                                <ul>
                                                    <li>
                                                        <strong>NATIONALITE</strong> <span>@item.Nation</span>
                                                    </li>
                                                    <li>
                                                        <strong>Equipe</strong> <span><img src="@imgSrcL2" alt="">@item.Team.Name</span>
                                                    </li>
                                                    <li><strong>MATCHS:</strong> <span>0</span></li>
                                                    <li><strong>AGE:</strong> <span>@item.Age</span></li>
                                                </ul>
                                            </div>
                                            <a href="single-player.html" class="btn">Details <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>


                        <div class="tab-pane" id="fixtures">
                            <table class="table-striped table-responsive table-hover">
                                <thead>
                                    <tr>
                                        <th>Team A</th>
                                        <th class="text-center">VS</th>
                                        <th>Team B</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img src="img/clubs-logos/colombia.png" alt="icon">
                                            <strong>Aben FC</strong><br>
                                            <small class="meta-text">GROUP H.</small>
                                        </td>
                                        <td class="text-center">Vs</td>
                                        <td>
                                            <img src="img/clubs-logos/japan.png" alt="icon1">
                                            <strong>Tinga</strong><br>
                                            <small class="meta-text">GROUP H.</small>
                                        </td>
                                        <td>
                                            Jun 19, 07:00<br>
                                            <small class="meta-text">Mordovia Arena,Saransk</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/clubs-logos/pol.png" alt="icon1">
                                            <strong>Koiti FC</strong><br>
                                            <small class="meta-text">GROUP H.</small>
                                        </td>
                                        <td class="text-center">Vs</td>
                                        <td>
                                            <img src="img/clubs-logos/colombia.png" alt="icon">
                                            <strong>Aben FC</strong><br>
                                            <small class="meta-text">GROUP H.</small>
                                        </td>
                                        <td>
                                            Jun 24, 13:00<br>
                                            <small class="meta-text">Kazan Arena,Kazan</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/clubs-logos/sen.png" alt="icon1">
                                            <strong>Solo FC</strong><br>
                                            <small class="meta-text">GROUP H.</small>
                                        </td>
                                        <td class="text-center">Vs</td>
                                        <td>
                                            <img src="img/clubs-logos/colombia.png" alt="icon">
                                            <strong>Aben FC</strong><br>
                                            <small class="meta-text">GROUP H.</small>
                                        </td>
                                        <td>
                                            Jun 28, 09:00<br>
                                            <small class="meta-text">Samara Arena,Samara</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img src="img/clubs-logos/colombia.png" alt="icon">
                                            <strong>Aben FC</strong><br>
                                            <small class="meta-text">GROUP H.</small>
                                        </td>
                                        <td class="text-center">Vs</td>
                                        <td>
                                            <img src="img/clubs-logos/pol.png" alt="icon1">
                                            <strong>Koiti FC</strong><br>
                                            <small class="meta-text">GROUP H.</small>
                                        </td>
                                        <td>
                                            Jun 24, 13:00<br>
                                            <small class="meta-text">Kazan Arena,Kazan</small>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="tab-pane" id="results">
                            <div class="recent-results results-page">
                                <div class="info-results">
                                    <ul>
                                        <li>
                                            <span class="head">
                                                Village FC Vs Cité FC <span class="date">27 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/por.png" alt="">
                                                    Village FC
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/esp.png" alt="">
                                                    Cité FC
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="head">
                                                Bastos Vs Aben FC <span class="date">30 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/rusia.png" alt="">
                                                    Bastos
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/colombia.png" alt="">
                                                    Aben FC
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="head">
                                                Akwa FC Vs Village FC <span class="date">31 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/uru.png" alt="">
                                                    Akwa FC
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/por.png" alt="">
                                                    Village FC
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="head">
                                                Akwa FC Vs Village FC <span class="date">31 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/uru.png" alt="">
                                                    Akwa FC
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/por.png" alt="">
                                                    Village FC
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="head">
                                                Akwa FC Vs Village FC <span class="date">31 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/uru.png" alt="">
                                                    Akwa FC
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/por.png" alt="">
                                                    Village FC
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="head">
                                                Akwa FC Vs Village FC <span class="date">31 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/uru.png" alt="">
                                                    Akwa FC
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/por.png" alt="">
                                                    Village FC
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="head">
                                                Akwa FC Vs Village FC <span class="date">31 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/uru.png" alt="">
                                                    Akwa FC
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/por.png" alt="">
                                                    Village FC
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="head">
                                                Village FC Vs Cité FC <span class="date">27 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/por.png" alt="">
                                                    Village FC
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/esp.png" alt="">
                                                    Cité FC
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="head">
                                                Akwa FC Vs Village FC <span class="date">31 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/uru.png" alt="">
                                                    Akwa FC
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/por.png" alt="">
                                                    Village FC
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <span class="head">
                                                Village FC Vs Cité FC <span class="date">27 Jun 2017</span>
                                            </span>
                                            <div class="goals-result">
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/por.png" alt="">
                                                    Village FC
                                                </a>
                                                <span class="goals">
                                                    <b>2</b> - <b>3</b>
                                                    <a href="single-result.html" class="btn theme">View More</a>
                                                </span>
                                                <a href="single-team.html">
                                                    <img src="img/clubs-logos/esp.png" alt="">
                                                    Cité FC
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="stats">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="stats-info">
                                        <ul>
                                            <li>
                                                Matches Played
                                                <h3>866</h3>
                                            </li>
                                            <li>
                                                Wins
                                                <h3>328</h3>
                                            </li>
                                            <li>
                                                Losses
                                                <h3>317</h3>
                                            </li>
                                            <li>
                                                Goals
                                                <h3>1,188</h3>
                                            </li>
                                            <li>
                                                Goals Conceded
                                                <h3>1,170</h3>
                                            </li>
                                            <li>
                                                Clean Sheets
                                                <h3>226</h3>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xl-4">

                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><i class="fa fa-calendar"></i>Attack</h4>
                                        </div>
                                        <ul class="list-panel">
                                            <li><p>Goals <span>1,188</span></p></li>
                                            <li><p>Goals Per Match <span>1.37</span></p></li>
                                            <li><p>Shots <span>4,621</span></p></li>
                                            <li><p>Shooting Accuracy % <span>32%</span></p></li>
                                            <li><p>Penalties Scored <span>30</span></p></li>
                                            <li><p>Big Chances Created <span>293</span></p></li>
                                            <li><p>Hit Woodwork <span>107</span></p></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-xl-4">

                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><i class="fa fa-calendar"></i>Team Play</h4>
                                        </div>
                                        <ul class="list-panel">
                                            <li><p>Passes <span>140,417</span></p></li>
                                            <li><p>Passes Per Match <span>162.14</span></p></li>
                                            <li><p>Pass Accuracy % <span>76%</span></p></li>
                                            <li><p>Crosses <span>8,148</span></p></li>
                                            <li><p>Cross Accuracy % <span>22%</span></p></li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-xl-4">

                                    <div class="panel-box">
                                        <div class="titles no-margin">
                                            <h4><i class="fa fa-calendar"></i>Defence</h4>
                                        </div>
                                        <ul class="list-panel">
                                            <li><p>Clean Sheets <span>226</span></p></li>
                                            <li><p>Goals Conceded <span>1,170</span></p></li>
                                            <li><p>Goals Conceded Per Match <span>1.35</span></p></li>
                                            <li><p>Saves <span>392</span></p></li>
                                            <li><p>Tackles <span>7,438</span></p></li>
                                            <li><p>Tackle Success % <span>75%</span></p></li>
                                            <li><p>Blocked Shots <span>1,208</span></p></li>
                                            <li><p>Interceptions <span>5,334</span></p></li>
                                            <li><p>Clearances <span>11,436</span></p></li>
                                            <li><p>Headed Clearance <span>3,710</span></p></li>
                                            <li><p>Aerial Battles/Duels Won <span>25,401</span></p></li>
                                            <li><p>Errors Leading To Goal <span>59</span></p></li>
                                            <li><p>Own Goals <span>27</span></p></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-lg-3 padding-top-mini">

                    <div class="panel-box">
                        <div class="titles">
                            <h4><i class="fa fa-calendar"></i>Diary</h4>
                        </div>

                        <ul class="list-diary">

                            <li>
                                <h6>GROUP A <span>14 JUN 2018 - 18:00</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="img/clubs-logos/rusia.png" alt="">
                                        <span>Kotto FC</span>
                                    </li>
                                    <li>
                                        <img src="img/clubs-logos/arabia.png" alt="">
                                        <span>Bali FC</span>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <h6>GROUP E <span>22 JUN 2018 - 15:00</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="img/clubs-logos/bra.png" alt="">
                                        <span>Soa FC</span>
                                    </li>
                                    <li>
                                        <img src="img/clubs-logos/costa-rica.png" alt="">
                                        <span>Bedi FC</span>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <h6>GROUP H <span>19 JUN 2018 - 15:00</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="img/clubs-logos/colombia.png" alt="">
                                        <span>Aben FC</span>
                                    </li>
                                    <li>
                                        <img src="img/clubs-logos/japan.png" alt="">
                                        <span>Tinga</span>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <h6>GROUP C <span>16 JUN 2018 - 15:00</span></h6>
                                <ul class="club-logo">
                                    <li>
                                        <img src="img/clubs-logos/fra.png" alt="">
                                        <span>Ngodi</span>
                                    </li>
                                    <li>
                                        <img src="img/clubs-logos/aus.png" alt="">
                                        <span>Logpom</span>
                                    </li>
                                </ul>
                            </li>

                        </ul>

                    </div>


                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4>Presentation</h4>
                        </div>

                        <div class="row">
                            <iframe src="https://www.youtube.com/embed/AfOlAUd7u4o" class="video"></iframe>
                            <div class="info-panel">
                                <h4>Stade Olembé</h4>
                                <p>Lorem ipsum dolor sit amet, sit amet, consectetur adipisicing elit, elit, incididunt ut labore et dolore magna aliqua sit amet, consectetur adipisicing elit,</p>
                            </div>
                        </div>

                    </div>


                    <div class="panel-box">
                        <div class="titles no-margin">
                            <h4>Widget Image</h4>
                        </div>
                        <img src="img/slide/1.jpg" alt="">
                        <div class="row">
                            <div class="info-panel">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, ut sit amet, consectetur adipisicing elit, labore et dolore.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>